PerformanceAppProjects/PerformanceTestingWebSite/Service References/PerformanceService/PerformanceTestingDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apps.slapholmesproductions.com/apps/PerformanceApp/PerformanceTestingDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" />
  <xs:element name="AddDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="deviceInfo" nillable="true" type="q1:FullDeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeviceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDeviceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databaseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDeviceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="FindDeviceInfoResult" nillable="true" type="q2:DeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFullDeviceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFullDeviceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="FindFullDeviceInfoResult" nillable="true" type="q3:FullDeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="GetDeviceListResult" nillable="true" type="q4:ArrayOfDeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceCubeResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="result" nillable="true" type="q5:PerformanceCubeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceCubeResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPerformanceCubeResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceCubeResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="results" nillable="true" type="q6:ArrayOfPerformanceCubeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformanceCubeResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCubeResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCubeResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="GetPerformanceCubeResultsResult" nillable="true" type="q7:ArrayOfPerformanceCubeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCubeResultsForMonoTouch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCubeResultsForMonoTouchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="GetPerformanceCubeResultsForMonoTouchResult" nillable="true" type="q8:ArrayOfPerformanceCubeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCubeResultsForObjectiveC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCubeResultsForObjectiveCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="GetPerformanceCubeResultsForObjectiveCResult" nillable="true" type="q9:ArrayOfPerformanceCubeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPerformanceCubeResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPerformanceCubeResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PerformanceTestingWebSite" minOccurs="0" name="FindPerformanceCubeResultResult" nillable="true" type="q10:PerformanceCubeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>