PerformanceAppProjects/PerformanceTestingWebSite/Service References/PerformanceService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PerformanceTestingWebApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PerformanceTestingWebApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FullDeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificHWVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIIdion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FullDeviceInfo" nillable="true" type="tns:FullDeviceInfo" />
  <xs:complexType name="DeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificHWVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIIdion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
  <xs:complexType name="ArrayOfDeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceInfo" nillable="true" type="tns:ArrayOfDeviceInfo" />
  <xs:complexType name="PerformanceCubeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceDatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="FramesPerSecond" type="xs:double" />
      <xs:element minOccurs="0" name="IsMonoTouch" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfTriangles" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceCubeResult" nillable="true" type="tns:PerformanceCubeResult" />
  <xs:complexType name="ArrayOfPerformanceCubeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceCubeResult" nillable="true" type="tns:PerformanceCubeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceCubeResult" nillable="true" type="tns:ArrayOfPerformanceCubeResult" />
</xs:schema>